body{
    display: flex;
    flex-direction: column;
    margin: 0%;
    background-color: rgb(3, 3, 41);
}

h1{
    text-align: center;
    color: antiquewhite;
}


#ttt-container{
     
    margin: 0 auto;
    border: 6px;
    display: grid;
    grid-template-columns: auto auto auto;

}

.box{
    border: 1px solid rgb(189, 189, 189);
    padding: 30px;
    text-align: center;
    height: 70px;
    width: 70px;
    
}

.x , .o{
  color: antiquewhite;
  font-size: 60px;
}


